
<IfModule mod_rewrite.c>
  RewriteEngine On
  RewriteBase /
  
  
# --- ID to Slug Legacy Redirects (Generated) ---
Redirect 301 /book/15 /book/les-misrables-victor-hugo/
Redirect 301 /book/15/ /book/les-misrables-victor-hugo/
Redirect 301 /book/11 /book/it-stephen-king/
Redirect 301 /book/11/ /book/it-stephen-king/
Redirect 301 /book/12 /book/under-the-dome-stephen-king/
Redirect 301 /book/12/ /book/under-the-dome-stephen-king/
Redirect 301 /book/13 /book/the-way-of-kings-brandon-sanderson/
Redirect 301 /book/13/ /book/the-way-of-kings-brandon-sanderson/
Redirect 301 /book/2 /book/the-power-broker-robert-a-caro/
Redirect 301 /book/2/ /book/the-power-broker-robert-a-caro/
Redirect 301 /book/3 /book/the-stand-stephen-king/
Redirect 301 /book/3/ /book/the-stand-stephen-king/
Redirect 301 /book/4 /book/hamilton-ron-chernow/
Redirect 301 /book/4/ /book/hamilton-ron-chernow/
Redirect 301 /book/5 /book/infinite-jest-david-foster-wallace/
Redirect 301 /book/5/ /book/infinite-jest-david-foster-wallace/
Redirect 301 /book/6 /book/the-count-of-monte-cristo-alexandre-dumas/
Redirect 301 /book/6/ /book/the-count-of-monte-cristo-alexandre-dumas/
Redirect 301 /book/7 /book/112263-stephen-king/
Redirect 301 /book/7/ /book/112263-stephen-king/
Redirect 301 /book/8 /book/atlas-shrugged-ayn-rand/
Redirect 301 /book/8/ /book/atlas-shrugged-ayn-rand/
Redirect 301 /book/9 /book/a-game-of-thrones-george-rr-martin/
Redirect 301 /book/9/ /book/a-game-of-thrones-george-rr-martin/
Redirect 301 /book/10 /book/sherlock-holmes-the-definitive-collection-arthur-conan-doyle/
Redirect 301 /book/10/ /book/sherlock-holmes-the-definitive-collection-arthur-conan-doyle/
Redirect 301 /book/16 /book/team-of-rivals-doris-kearns-goodwin/
Redirect 301 /book/16/ /book/team-of-rivals-doris-kearns-goodwin/
Redirect 301 /book/17 /book/1q84-haruki-murakami/
Redirect 301 /book/17/ /book/1q84-haruki-murakami/
Redirect 301 /book/18 /book/grant-ron-chernow/
Redirect 301 /book/18/ /book/grant-ron-chernow/
Redirect 301 /book/19 /book/david-copperfield-charles-dickens/
Redirect 301 /book/19/ /book/david-copperfield-charles-dickens/
Redirect 301 /book/20 /book/dune-frank-herbert/
Redirect 301 /book/20/ /book/dune-frank-herbert/
Redirect 301 /book/21 /book/the-pillars-of-the-earth-ken-follett/
Redirect 301 /book/21/ /book/the-pillars-of-the-earth-ken-follett/
Redirect 301 /book/22 /book/war-and-peace-leo-tolstoy/
Redirect 301 /book/22/ /book/war-and-peace-leo-tolstoy/
Redirect 301 /book/23 /book/the-name-of-the-wind-patrick-rothfuss/
Redirect 301 /book/23/ /book/the-name-of-the-wind-patrick-rothfuss/
Redirect 301 /book/24 /book/shantaram-gregory-david-roberts/
Redirect 301 /book/24/ /book/shantaram-gregory-david-roberts/
Redirect 301 /book/25 /book/the-goldfinch-donna-tartt/
Redirect 301 /book/25/ /book/the-goldfinch-donna-tartt/
Redirect 301 /book/26 /book/a-little-life-hanya-yanagihara/
Redirect 301 /book/26/ /book/a-little-life-hanya-yanagihara/
Redirect 301 /book/27 /book/cryptonomicon-neal-stephenson/
Redirect 301 /book/27/ /book/cryptonomicon-neal-stephenson/
Redirect 301 /book/28 /book/crime-and-punishment-fyodor-dostoevsky/
Redirect 301 /book/28/ /book/crime-and-punishment-fyodor-dostoevsky/
Redirect 301 /book/29 /book/american-gods-neil-gaiman/
Redirect 301 /book/29/ /book/american-gods-neil-gaiman/
Redirect 301 /book/30 /book/anna-karenina-leo-tolstoy/
Redirect 301 /book/30/ /book/anna-karenina-leo-tolstoy/
Redirect 301 /book/31 /book/don-quixote-miguel-de-cervantes/
Redirect 301 /book/31/ /book/don-quixote-miguel-de-cervantes/
Redirect 301 /book/32 /book/the-brothers-karamazov-fyodor-dostoevsky/
Redirect 301 /book/32/ /book/the-brothers-karamazov-fyodor-dostoevsky/
Redirect 301 /book/33 /book/steve-jobs-walter-isaacson/
Redirect 301 /book/33/ /book/steve-jobs-walter-isaacson/
Redirect 301 /book/34 /book/titan-ron-chernow/
Redirect 301 /book/34/ /book/titan-ron-chernow/
Redirect 301 /book/35 /book/the-rise-and-fall-of-the-third-reich-william-l-shirer/
Redirect 301 /book/35/ /book/the-rise-and-fall-of-the-third-reich-william-l-shirer/
Redirect 301 /book/36 /book/outlander-diana-gabaldon/
Redirect 301 /book/36/ /book/outlander-diana-gabaldon/
Redirect 301 /book/37 /book/middlemarch-george-eliot/
Redirect 301 /book/37/ /book/middlemarch-george-eliot/
Redirect 301 /book/38 /book/jonathan-strange-mr-norrell-susanna-clarke/
Redirect 301 /book/38/ /book/jonathan-strange-mr-norrell-susanna-clarke/
Redirect 301 /book/39 /book/bleak-house-charles-dickens/
Redirect 301 /book/39/ /book/bleak-house-charles-dickens/
Redirect 301 /book/40 /book/gone-with-the-wind-margaret-mitchell/
Redirect 301 /book/40/ /book/gone-with-the-wind-margaret-mitchell/
Redirect 301 /book/41 /book/the-eye-of-the-world-robert-jordan/
Redirect 301 /book/41/ /book/the-eye-of-the-world-robert-jordan/
Redirect 301 /book/42 /book/the-great-hunt-robert-jordan/
Redirect 301 /book/42/ /book/the-great-hunt-robert-jordan/
Redirect 301 /book/43 /book/the-dragon-reborn-robert-jordan/
Redirect 301 /book/43/ /book/the-dragon-reborn-robert-jordan/
Redirect 301 /book/44 /book/the-shadow-rising-robert-jordan/
Redirect 301 /book/44/ /book/the-shadow-rising-robert-jordan/
Redirect 301 /book/45 /book/the-fellowship-of-the-ring-jrr-tolkien/
Redirect 301 /book/45/ /book/the-fellowship-of-the-ring-jrr-tolkien/
Redirect 301 /book/46 /book/the-two-towers-jrr-tolkien/
Redirect 301 /book/46/ /book/the-two-towers-jrr-tolkien/
Redirect 301 /book/47 /book/the-return-of-the-king-jrr-tolkien/
Redirect 301 /book/47/ /book/the-return-of-the-king-jrr-tolkien/
Redirect 301 /book/48 /book/words-of-radiance-brandon-sanderson/
Redirect 301 /book/48/ /book/words-of-radiance-brandon-sanderson/
Redirect 301 /book/49 /book/oathbringer-brandon-sanderson/
Redirect 301 /book/49/ /book/oathbringer-brandon-sanderson/
Redirect 301 /book/50 /book/rhythm-of-war-brandon-sanderson/
Redirect 301 /book/50/ /book/rhythm-of-war-brandon-sanderson/
Redirect 301 /book/51 /book/a-clash-of-kings-george-rr-martin/
Redirect 301 /book/51/ /book/a-clash-of-kings-george-rr-martin/
Redirect 301 /book/52 /book/a-storm-of-swords-george-rr-martin/
Redirect 301 /book/52/ /book/a-storm-of-swords-george-rr-martin/
Redirect 301 /book/53 /book/a-feast-for-crows-george-rr-martin/
Redirect 301 /book/53/ /book/a-feast-for-crows-george-rr-martin/
Redirect 301 /book/54 /book/a-dance-with-dragons-george-rr-martin/
Redirect 301 /book/54/ /book/a-dance-with-dragons-george-rr-martin/
Redirect 301 /book/55 /book/the-priory-of-the-orange-tree-samantha-shannon/
Redirect 301 /book/55/ /book/the-priory-of-the-orange-tree-samantha-shannon/
Redirect 301 /book/56 /book/babel-rf-kuang/
Redirect 301 /book/56/ /book/babel-rf-kuang/
Redirect 301 /book/57 /book/the-final-empire-brandon-sanderson/
Redirect 301 /book/57/ /book/the-final-empire-brandon-sanderson/
Redirect 301 /book/58 /book/the-well-of-ascension-brandon-sanderson/
Redirect 301 /book/58/ /book/the-well-of-ascension-brandon-sanderson/
Redirect 301 /book/59 /book/the-hero-of-ages-brandon-sanderson/
Redirect 301 /book/59/ /book/the-hero-of-ages-brandon-sanderson/
Redirect 301 /book/60 /book/hyperion-dan-simmons/
Redirect 301 /book/60/ /book/hyperion-dan-simmons/
Redirect 301 /book/61 /book/the-fall-of-hyperion-dan-simmons/
Redirect 301 /book/61/ /book/the-fall-of-hyperion-dan-simmons/
Redirect 301 /book/63 /book/judas-unchained-peter-f-hamilton/
Redirect 301 /book/63/ /book/judas-unchained-peter-f-hamilton/
Redirect 301 /book/64 /book/leviathan-wakes-james-sa-corey/
Redirect 301 /book/64/ /book/leviathan-wakes-james-sa-corey/
Redirect 301 /book/65 /book/seveneves-neal-stephenson/
Redirect 301 /book/65/ /book/seveneves-neal-stephenson/
Redirect 301 /book/66 /book/anathem-neal-stephenson/
Redirect 301 /book/66/ /book/anathem-neal-stephenson/
Redirect 301 /book/67 /book/stranger-in-a-strange-land-robert-a-heinlein/
Redirect 301 /book/67/ /book/stranger-in-a-strange-land-robert-a-heinlein/
Redirect 301 /book/68 /book/dune-messiah-frank-herbert/
Redirect 301 /book/68/ /book/dune-messiah-frank-herbert/
Redirect 301 /book/69 /book/children-of-dune-frank-herbert/
Redirect 301 /book/69/ /book/children-of-dune-frank-herbert/
Redirect 301 /book/70 /book/moby-dick-herman-melville/
Redirect 301 /book/70/ /book/moby-dick-herman-melville/
Redirect 301 /book/71 /book/great-expectations-charles-dickens/
Redirect 301 /book/71/ /book/great-expectations-charles-dickens/
Redirect 301 /book/72 /book/jane-eyre-charlotte-bront/
Redirect 301 /book/72/ /book/jane-eyre-charlotte-bront/
Redirect 301 /book/73 /book/wuthering-heights-emily-bront/
Redirect 301 /book/73/ /book/wuthering-heights-emily-bront/
Redirect 301 /book/74 /book/vanity-fair-william-makepeace-thackeray/
Redirect 301 /book/74/ /book/vanity-fair-william-makepeace-thackeray/
Redirect 301 /book/75 /book/the-hunchback-of-notre-dame-victor-hugo/
Redirect 301 /book/75/ /book/the-hunchback-of-notre-dame-victor-hugo/
Redirect 301 /book/76 /book/ulysses-james-joyce/
Redirect 301 /book/76/ /book/ulysses-james-joyce/
Redirect 301 /book/77 /book/doctor-zhivago-boris-pasternak/
Redirect 301 /book/77/ /book/doctor-zhivago-boris-pasternak/
Redirect 301 /book/78 /book/the-magic-mountain-thomas-mann/
Redirect 301 /book/78/ /book/the-magic-mountain-thomas-mann/
Redirect 301 /book/81 /book/leonardo-da-vinci-walter-isaacson/
Redirect 301 /book/81/ /book/leonardo-da-vinci-walter-isaacson/
Redirect 301 /book/82 /book/benjamin-franklin-an-american-life-walter-isaacson/
Redirect 301 /book/82/ /book/benjamin-franklin-an-american-life-walter-isaacson/
Redirect 301 /book/84 /book/peter-the-great-robert-k-massie/
Redirect 301 /book/84/ /book/peter-the-great-robert-k-massie/
Redirect 301 /book/85 /book/catherine-the-great-robert-k-massie/
Redirect 301 /book/85/ /book/catherine-the-great-robert-k-massie/
Redirect 301 /book/87 /book/east-of-eden-john-steinbeck/
Redirect 301 /book/87/ /book/east-of-eden-john-steinbeck/
Redirect 301 /book/88 /book/the-grapes-of-wrath-john-steinbeck/
Redirect 301 /book/88/ /book/the-grapes-of-wrath-john-steinbeck/
Redirect 301 /book/89 /book/demon-copperhead-barbara-kingsolver/
Redirect 301 /book/89/ /book/demon-copperhead-barbara-kingsolver/
Redirect 301 /book/90 /book/the-amazing-adventures-of-kavalier-clay-michael-chabon/
Redirect 301 /book/90/ /book/the-amazing-adventures-of-kavalier-clay-michael-chabon/
Redirect 301 /book/96 /book/2666-roberto-bolao/
Redirect 301 /book/96/ /book/2666-roberto-bolao/
Redirect 301 /book/97 /book/the-bee-sting-paul-murray/
Redirect 301 /book/97/ /book/the-bee-sting-paul-murray/
Redirect 301 /book/98 /book/polostan-neal-stephenson/
Redirect 301 /book/98/ /book/polostan-neal-stephenson/
Redirect 301 /book/99 /book/the-city-and-its-uncertain-walls-haruki-murakami/
Redirect 301 /book/99/ /book/the-city-and-its-uncertain-walls-haruki-murakami/
Redirect 301 /book/100 /book/caledonian-road-andrew-ohagan/
Redirect 301 /book/100/ /book/caledonian-road-andrew-ohagan/
Redirect 301 /book/101 /book/nexus-yuval-noah-harari/
Redirect 301 /book/101/ /book/nexus-yuval-noah-harari/
Redirect 301 /book/102 /book/wind-and-truth-brandon-sanderson/
Redirect 301 /book/102/ /book/wind-and-truth-brandon-sanderson/
Redirect 301 /book/103 /book/shogun-james-clavell/
Redirect 301 /book/103/ /book/shogun-james-clavell/
Redirect 301 /book/104 /book/empire-of-the-damned-jay-kristoff/
Redirect 301 /book/104/ /book/empire-of-the-damned-jay-kristoff/
Redirect 301 /book/105 /book/the-covenant-of-water-abraham-verghese/
Redirect 301 /book/105/ /book/the-covenant-of-water-abraham-verghese/
Redirect 301 /book/106 /book/my-name-is-barbra-barbra-streisand/
Redirect 301 /book/106/ /book/my-name-is-barbra-barbra-streisand/
Redirect 301 /book/107 /book/alchemised-senlinyu/
Redirect 301 /book/107/ /book/alchemised-senlinyu/
Redirect 301 /book/108 /book/the-secret-history-donna-tartt/
Redirect 301 /book/108/ /book/the-secret-history-donna-tartt/
Redirect 301 /book/109 /book/the-historian-elizabeth-kostova/
Redirect 301 /book/109/ /book/the-historian-elizabeth-kostova/
Redirect 301 /book/110 /book/a-discovery-of-witches-deborah-harkness/
Redirect 301 /book/110/ /book/a-discovery-of-witches-deborah-harkness/
Redirect 301 /book/111 /book/iron-flame-rebecca-yarros/
Redirect 301 /book/111/ /book/iron-flame-rebecca-yarros/
Redirect 301 /book/112 /book/house-of-earth-and-blood-sarah-j-maas/
Redirect 301 /book/112/ /book/house-of-earth-and-blood-sarah-j-maas/
Redirect 301 /book/113 /book/kushiels-dart-jacqueline-carey/
Redirect 301 /book/113/ /book/kushiels-dart-jacqueline-carey/
Redirect 301 /book/114 /book/when-the-moon-hatched-sarah-a-parker/
Redirect 301 /book/114/ /book/when-the-moon-hatched-sarah-a-parker/
Redirect 301 /book/115 /book/galaxy-outlaws-js-morin/
Redirect 301 /book/115/ /book/galaxy-outlaws-js-morin/
Redirect 301 /book/116 /book/the-decline-and-fall-of-the-roman-empire-edward-gibbon/
Redirect 301 /book/116/ /book/the-decline-and-fall-of-the-roman-empire-edward-gibbon/
Redirect 301 /book/117 /book/the-cycle-of-arawn-edward-w-robertson/
Redirect 301 /book/117/ /book/the-cycle-of-arawn-edward-w-robertson/
Redirect 301 /book/118 /book/the-wandering-inn-book-2-pirateaba/
Redirect 301 /book/118/ /book/the-wandering-inn-book-2-pirateaba/
Redirect 301 /book/119 /book/churchill-walking-with-destiny-andrew-roberts/
Redirect 301 /book/119/ /book/churchill-walking-with-destiny-andrew-roberts/
Redirect 301 /book/120 /book/empire-of-the-vampire-jay-kristoff/
Redirect 301 /book/120/ /book/empire-of-the-vampire-jay-kristoff/
Redirect 301 /book/121 /book/empire-of-the-dawn-jay-kristoff/
Redirect 301 /book/121/ /book/empire-of-the-dawn-jay-kristoff/
Redirect 301 /book/148 /book/brimstone-callie-hart/
Redirect 301 /book/148/ /book/brimstone-callie-hart/
Redirect 301 /book/133 /book/carrion-comfort-dan-simmons/
Redirect 301 /book/133/ /book/carrion-comfort-dan-simmons/
Redirect 301 /book/145 /book/complete-dickens-part-one/
Redirect 301 /book/145/ /book/complete-dickens-part-one/
Redirect 301 /book/143 /book/deaths-end-cixin-liu/
Redirect 301 /book/143/ /book/deaths-end-cixin-liu/
Redirect 301 /book/146 /book/dostoyevsky-complete-collection/
Redirect 301 /book/146/ /book/dostoyevsky-complete-collection/
Redirect 301 /book/123 /book/flowers-of-esthelm-the-wandering-inn-book-3-pirateaba/
Redirect 301 /book/123/ /book/flowers-of-esthelm-the-wandering-inn-book-3-pirateaba/
Redirect 301 /book/127 /book/fourth-wing-rebecca-yarros/
Redirect 301 /book/127/ /book/fourth-wing-rebecca-yarros/
Redirect 301 /book/130 /book/house-of-flame-and-shadow-sarah-j-maas/
Redirect 301 /book/130/ /book/house-of-flame-and-shadow-sarah-j-maas/
Redirect 301 /book/129 /book/house-of-sky-and-breath-sarah-j-maas/
Redirect 301 /book/129/ /book/house-of-sky-and-breath-sarah-j-maas/
Redirect 301 /book/137 /book/i-am-pilgrim-terry-hayes/
Redirect 301 /book/137/ /book/i-am-pilgrim-terry-hayes/
Redirect 301 /book/126 /book/katabasis-rf-kuang/
Redirect 301 /book/126/ /book/katabasis-rf-kuang/
Redirect 301 /book/128 /book/onyx-storm-rebecca-yarros/
Redirect 301 /book/128/ /book/onyx-storm-rebecca-yarros/
Redirect 301 /book/62 /book/pandoras-star-peter-f-hamilton/
Redirect 301 /book/62/ /book/pandoras-star-peter-f-hamilton/
Redirect 301 /book/147 /book/quicksilver-callie-hart/
Redirect 301 /book/147/ /book/quicksilver-callie-hart/
Redirect 301 /book/140 /book/reamde-neal-stephenson/
Redirect 301 /book/140/ /book/reamde-neal-stephenson/
Redirect 301 /book/139 /book/red-storm-rising-tom-clancy/
Redirect 301 /book/139/ /book/red-storm-rising-tom-clancy/
Redirect 301 /book/131 /book/swan-song-robert-mccammon/
Redirect 301 /book/131/ /book/swan-song-robert-mccammon/
Redirect 301 /book/142 /book/the-dark-forest-cixin-liu/
Redirect 301 /book/142/ /book/the-dark-forest-cixin-liu/
Redirect 301 /book/134 /book/the-passage-justin-cronin/
Redirect 301 /book/134/ /book/the-passage-justin-cronin/
Redirect 301 /book/144 /book/the-redemption-of-time-baoshu/
Redirect 301 /book/144/ /book/the-redemption-of-time-baoshu/
Redirect 301 /book/132 /book/the-terror-dan-simmons/
Redirect 301 /book/132/ /book/the-terror-dan-simmons/
Redirect 301 /book/141 /book/the-three-body-problem-cixin-liu/
Redirect 301 /book/141/ /book/the-three-body-problem-cixin-liu/
Redirect 301 /book/122 /book/the-wandering-inn-book-1-pirateaba/
Redirect 301 /book/122/ /book/the-wandering-inn-book-1-pirateaba/
Redirect 301 /book/125 /book/the-wise-mans-fear-patrick-rothfuss/
Redirect 301 /book/125/ /book/the-wise-mans-fear-patrick-rothfuss/
Redirect 301 /book/124 /book/winter-solstice-the-wandering-inn-book-4-pirateaba/
Redirect 301 /book/124/ /book/winter-solstice-the-wandering-inn-book-4-pirateaba/
Redirect 301 /book/149 /book/the-mark-twain-complete-collection-mark-twain/
Redirect 301 /book/149/ /book/the-mark-twain-complete-collection-mark-twain/

  
  # --- Genre Redirects (Manual) ---
  Redirect 301 /genre/nonfiction /genre/non-fiction/
  Redirect 301 /genre/nonfiction/ /genre/non-fiction/
  Redirect 301 /genre/contemporary /genre/contemporary-fiction/
  Redirect 301 /genre/contemporary/ /genre/contemporary-fiction/

  # Standard SPA Fallback
  RewriteRule ^index\.html$ - [L]
  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteCond %{REQUEST_FILENAME} !-d
  RewriteRule . /index.html [L]
</IfModule>
